service: aws-proyectofinal-cb

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  apiGateway:
    shouldStartNameWithService: true

plugins:
  - serverless-iam-roles-per-function 

# Comentarios para describir las secciones principales
# ================================================
functions:
  # Función para crear un pedido
  crearPedido:
    handler: handler.crearPedido
    events:
      - http:
          method: POST
          path: /crearPedido
    # Permisos IAM para la función crearPedido
    iamRoleStatements:
      - Effect: Allow
        Action:
          - s3:PutObject
          - s3:GetObject
        Resource: 
          - arn:aws:s3:::buket-respaldo-cb/*
      - Effect: Allow
        Action:
          - sqs:SendMessage
        Resource: 
          - arn:aws:sqs:us-east-1:667168568942:cola-cb
      - Effect: Allow
        Action:
          - ses:SendEmail
          - ses:SendRawEmail
        Resource: "*"

  # Función para obtener un pedido
  obtenerPedido:
    handler: handler.obtenerPedido
    events:
      - http:
          method: GET
          path: /obtenerPedido

# Recursos adicionales de AWS
# ==========================
resources:
  Resources:
    # Bucket de respaldo en S3
    BackupBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: buket-respaldo-cb
        LifecycleConfiguration:
          Rules:
            - Id: DeleteOldFiles
              Status: Enabled
              ExpirationInDays: 2
    # Define una cola SQS
    MyQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: cola-cb
        MessageRetentionPeriod: 1209600
        DelaySeconds: 15